.main-photo {
  background-image: url('/img/main-photo.jpg');
  background-size: cover;
  color: white;
  height: calc(100vh - 58px);
  width: 100%;
  .main-title {
    font-family: 'EB Garamond', serif;
    font-size: 4.5rem;
    padding-top: 30vh;
    text-align: center;
  }
  .slogan {
    font-size: 1.3rem;
    text-align: center;
    width: 100%;
  }
}
